.login-page
  .login-form
    %h2.form-main-title 
      Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.input-wrap
        = f.email_field :email, :placeholder => "Enter email id"
      .field.input-wrap
        = f.password_field :password, :placeholder => "Enter password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in",:class=>"btn-theme"
    = render "devise/shared/links"
    
